/* src/Components/Hero/hero.css */
.hero {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-text {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 70px;
    margin-top: 50px;
    margin-left: 10px;
}

.hero-explore {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    color: var(--third-color);
    transition: background-color 0.3s ease;
    margin-top: -40px;
    margin-bottom: 30px;
}

.hero-btn {
    
    text-decoration: none; /* Removes the underline from the link */
    color: #ffffff;

}

.hero-explore:hover {
    background-color: #00ffddbe;
}

.hero-explore img {
    height: 16px;
}

.hero-dot-play {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-top: 65px;
    margin-left: 0px;
}

.hero-dot {
    width: 10px;
    height: 10px;
    background-color: #ffffff88;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-dot.orange {
    background-color: var(--second-color);
}

.hero-play-pause {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: -210px;
    margin-bottom: -10px;
    margin-top: 110px;
}

.hero-play-pause img {
    height: 30px; /* Corrected play/pause image size */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-text {
        font-size: 3rem;
    }
}